@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --black: #1F1F1F;
    --gray: #3A3A3A;
}

body {
    background-color: var(--black);
    color: white;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin: 0;
}
